DEBUG=True
SECRET_KEY="django-insecure-wlz-vsvasvsavsvasdvsdvsavdadvadva"

POSTGRES_DB=your_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST='127.0.0.1'
POSTGRES_PORT=5432


EMAIL_HOST=smtp.yandex.com
EMAIL_PORT=587
EMAIL_HOST_USER=ваша_почта
EMAIL_HOST_PASSWORD=пароль_от_smtp
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=ваша_почта


TELEGRAM_BOT_TOKEN=токен_вашего_ботика
CHAT_ID=id_чата_с_ботом