# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# env
.venv/
venv/
env/
ENV/
.env
.env.*
!.env.example


# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Celery / Redis future
celerybeat-schedule
*.pid